<p id="notice"><%= notice %></p>

<h1>Notícias</h1>

<table>
  <thead>
    <tr>
      <th>
        Título
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td>
          <%= article.title %>
        </td>
        <td><%= link_to 'Ver', article %></td>
        <td><%= link_to 'Editar', edit_article_path(article) %></td>
        <td><%= link_to 'Apagar', article, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova notícia', new_article_path %>
