<div class="col s12 m4 l4">
  <div id="profile-card" class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="<%= campaign.main_image_url %>" alt="user bg">
    </div>

    <ul class="card-action-buttons">
      <li>
        <%=
          link_to campaigns_landing_path(campaign),
            class: 'btn-floating waves-effect waves-light green accent-4',
            title: 'Ir para a campanha',
            target: '_blank' do %>
            <i class="fa fa-eye"></i></a>
        <% end %>
      </li>
      <li>
        <%= link_to edit_admin_campaign_path(campaign), class: 'btn-floating waves-effect waves-light light-blue accent-4', title: 'Editar campanha' do %>
          <i class="fa fa-pencil-square-o"></i></a>
        <% end %>
      </li>
    </ul>

    <div class="card-content">
      <h4 class="card-title activator grey-text text-darken-4 bold">
        <%= campaign.title %>
      </h4>
      <p>
          <i class="mdi-action-perm-phone-msg"></i>
          De <%= campaign.start_date.strftime('%d/%m/%Y') %>
          até <%= campaign.end_date.strftime('%d/%m/%Y') %>
      </p>
      <p><i class="mdi-communication-email"></i> Tipo: <%= campaign.type_text %></p>

      <p>
        <%= link_to 'Voltar', admin_campaigns_path %>
      </p>
    </div>
  </div>
</div>
