<h4 class="center-align">Campanha: <%= @campaign.title %></h4>

<p class="center-align">
  <%= link_to 'voltar para a lista de campanhas', admin_campaigns_path %>
</p>

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3">
        <a class="active" href="#<%= Admin::Tabs::CAMPAIGN_DESCRIPTION_TAB %>">Descrição</a>
      </li>
      <li class="tab col s3">
        <a class="active" href="#<%= Admin::Tabs::NEW_ITEM_TAB %>">Novo item</a>
      </li>
      <li class="tab col s3">
        <a href="#<%= Admin::Tabs::ITEMS_LIST_TAB %>">Itens</a>
      </li>
      <li class="tab col s3">
        <a href="#<%= Admin::Tabs::ORDERS_TAB %>">Compras</a>
      </li>
    </ul>
  </div>
  <div id="<%= Admin::Tabs::CAMPAIGN_DESCRIPTION_TAB %>" class="col s12">
    <%= render 'description', campaign: @campaign %>
  </div>
  <div id="<%= Admin::Tabs::NEW_ITEM_TAB %>" class="col s12">
    <%= render 'items_form', campaign: @campaign %>
  </div>
  <div id="<%= Admin::Tabs::ITEMS_LIST_TAB %>" class="col s12">
    <%= render 'items', campaign: @campaign %>
  </div>
  <div id="<%= Admin::Tabs::ORDERS_TAB %>" class="col s12">
    <%= render 'orders', campaign: @campaign %>
  </div>
</div>
