<div class="row shopping-cart__item">
  <div class="col s12 m4 item-data shopping-cart__image">
    <%= image_tag item.image_url, class: 'thumbnail' %>
  </div>

  <div class="col s12 m8">
    <div class="row price-line" data-item-id="<%= item.id %>" data-item-price="<%= item.price %>">
      <div class="col s3"><b><%= item.name %></b></div>
      <div class="col s3"><%= number_to_currency(item.price) %> x</div>
      <div class="col s3">
        <%= number_field_tag "items[#{item.id}]", item.current_amount, class: 'shopping-cart__item-counter', min: 1 %>
      </div>
      <div class="col s3" data-product-price>= <%= number_to_currency(item.price * item.current_amount) %></div>
    </div>

    <div class="row">
      <div class="col s9 text-justify"><%= item.description %></div>
      <div class="col s3">
        <%= form_tag shopping_cart_path(item), method: :delete do %>
          <%= hidden_field_tag 'items', '', data: { hidden_items: true } %>
          <%= submit_tag 'Remover', class: 'remove-product-button red lighten-1 btn waves-effect waves-light', data: { checkout_delete_button: true } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
