<div class="row shopping-cart__item">
  <div class="col s12 m4 item-data shopping-cart__image">
    <%= image_tag item.image_url, class: 'thumbnail' %>
  </div>

  <div class="col s12 m8">
    <div class="row price-line">
      <div class="col s3"><b><%= item.name %></b></div>
      <div class="col s3"><%= number_to_currency(item.price) %> x</div>
      <div class="col s3">
        <%= number_field_tag "amount_item_#{item.id}", item.current_amount, class: 'shopping-cart__item-counter' %>
      </div>
      <div class="col s3">= <%= number_to_currency(item.price * item.current_amount) %></div>
    </div>

    <div class="row">
      <div class="col s9 text-justify"><%= item.description %></div>
      <div class="col s3"><a href="#">Remover</a></div>
    </div>
  </div>
</div>
