<section>
  <div class="container">
    <div class="text-center mb-80" id="campaign-block-container">
      <h2 class="section-title text-uppercase"><%= campaign.name %></h2>
      <p class="section-sub text-left mb-80"><%= html_description(campaign) %></p>
      <h2>Arrecadação</h2>
      <h2><%= number_to_currency(campaign.current_amount) %> de <%= number_to_currency(campaign.target_value) %></h2>
      <div id="goal-progress" data-target="<%= campaign.target_value %>" data-current-amount="<%= campaign.current_amount %>">
      </div>
      <%= render 'diary', campaign: campaign %>
    </div>

    <h1 class="text-center">Ajude nosso projeto a acontecer!</h1>
</section>

<% unless campaign.finished? %>
  <div class="row">
    <div class="col s12 text-center">
      <%= link_to shopping_cart_index_path, class: 'waves-effect waves-light btn shopping-cart__button green' do %>
        <i class="fa fa-shopping-cart"></i> Carrinho de compras
      <% end %>
    </div>
  </div>
<% end %>

<% campaign.items.each_with_index do |item, index| %>
  <section class="section-padding item-row-<%= index.even? ? 'even' : 'odd' %>">
    <div class="row">
      <div class="col m2 hide-on-small-only relative">
        <% if @campaign.campaign_type == 0 %>
        <span class="thermometer">
          <%= item.current_amount %>
        </span>
        <% else %>
          <% percentage = (item.current_amount * 100 / item.target).ceil %>
          <div class="progress-circle progress-<%= percentage %>"><span><%= percentage %></span></div>
        <% end %>
      </div>
      <div class="col s12 m6 l7" data-item-container>
        <h3><%= item.name %></h3>
        <p class="item-description">
          <%= item.description %>
          <br /><br />
          Até agora, conseguimos <%= item.current_amount %> de <%= item.target %>. Que tal dar uma forcinha?
        </p>
        <p class="item-price">
          <b>Valor:</b> <%= number_to_currency(item.price) %>
        </p>
      </div>
      <div class="col s12 m4 l3">
        <div class="item-data text-center">
          <%= image_tag item.image_url, class: 'thumbnail' %>
          <%= form_tag shopping_cart_index_path do %>
            <%= hidden_field_tag 'item[id]', item.id %>
            <% unless campaign.finished? %>
              <%= submit_tag 'Adicionar', class: 'primary-blue btn waves-effect waves-light' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% end %>
