<div class="row">
  <% if campaign.errors.any? %>
    <div id="card-alert" class="card red lighten-5">
      <div class="card-content red-text">
        <p><%= pluralize(campaign.errors.count, 'erro') %> encontrado:</p>
        <ul>
          <% campaign.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <button type="button" class="close red-text" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
  <% end %>

  <% label_class = campaign.new_record? ? '' : 'active' %>
  <%= form_for campaign do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label 'Nome', class: label_class %>
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label 'Título', class: label_class %>
        <%= f.text_field :title %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label 'Subtítulo', class: label_class %>
        <%= f.text_field :subtitle %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label 'Descrição', class: label_class %>
        <%= f.text_area :description, class: 'materialize-textarea' %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label 'Imagem principal', class: label_class %>
        <%= f.text_field :main_image_url %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label 'Vídeo', class: label_class %>
        <%= f.text_field :video_url %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label 'Data de início', class: 'active' %>
        <%= f.date_field :start_date, name: 'start_date', class: 'datepicker' %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label 'Data de término', class: 'active' %>
        <%= f.date_field :end_date, name: 'end_date', class: 'datepicker' %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.select :campaign_type, f.object.types.collect.with_index { |type, index| [type, index] }, {}, class: 'campaign-type browser-default' %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label 'Texto de encerramento', class: label_class %>
        <%= f.text_area :closing_text, class: 'materialize-textarea' %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.submit 'Salvar', class: 'btn waves-effect waves-light right save-campaign' %>
      </div>
    </div>
  <% end %>
</div>
