<div class="row">
  <div class="col s12 m12 l6">
    <div class="card-panel">
      <h4 class="header2">Campanhas</h4>
      <div class="row">
        <table class="striped">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Início</th>
              <th>Fim</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @campaigns.each do |campaign| %>
              <tr>
                <td><%= campaign.name %></td>
                <td><%= campaign.start_date.strftime('%d/%m/%Y') %></td>
                <td><%= campaign.end_date.strftime('%d/%m/%Y') %></td>
                <td>
                  <%= link_to campaign do %>
                    <i class="fa fa-eye"></i>
                  <% end %>
                </td>
                <td>
                  <%= link_to edit_campaign_path(campaign) do %>
                    <i class="fa fa-pencil"></i>
                  <% end %>
                </td>
                <td>
                  <%= link_to campaign, method: :delete, data: { confirm: 'Tem certeza?' } do %>
                    <i class="fa fa-times"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col s12 m12 l6">
    <div class="card-panel">
      <h4 class="header2">Nova campanha</h4>
      <%= render 'form', campaign: @campaign %>
    </div>
  </div>
</div>
