<!DOCTYPE html>
<html>
  <head>
    <title>Arsenal - <%= @campaign.title %></title>
    <%= csrf_meta_tags %>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'landing', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>

    <script src="http://trendytheme.net/demo/matrox/assets/js/jquery-2.1.3.min.js"></script>
    <script src="http://trendytheme.net/demo/matrox/assets/js/menuzord.js"></script>
    <script src="http://trendytheme.net/demo/matrox/assets/js/jquery.stellar.min.js"></script>
    <script src="http://trendytheme.net/demo/matrox/assets/js/imagesloaded.js"></script>
    <script src="http://trendytheme.net/demo/matrox/assets/magnific-popup/jquery.magnific-popup.min.js"></script>
  </body>
</html>
